python-dotenv
ipywidgets
IPython
langchain
langgraph
ipykernel
pydantic
langchain_community
langchain_experimental
duckduckgo-search
boto3
groq
pyttsx3
speechRecognition
wikipedia
pyaudio
gtts
playsound
chromadb
chroma-hnswlib
agno
duckduckgo-search
googlesearch-python
langchain_mcp_adapters
langgraph
streamlit
langchain_experimental
openai
langchain_openai
langchain_ollama
langchain_groq
langchain_google_genai
