python-dotenv
ipywidgets
IPython
langchain
langgraph
langchain_groq
ipykernel
pydantic
langchain_community
langchain_experimental
duckduckgo-search
boto3
groq
pyttsx3
speechRecognition
wikipedia
pyaudio
gtts
playsound
chormadb
chroma-hnswlib
agno
duckduckgo-search